html{
  height:100%;
}

body{
  height:100%;
  background-size:cover;
 
 }

.App {
  text-align: center;
  
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App
{
  
  
}
